/dmp/
/old/
*.o
*.dmp
kageserver
ot_dissect
/kage.service
/.cproject
/.gdb_history
/.project
/propellerarena.db
/pa_dissect
/deps/libdcserver/
/local/
/logs/
/data/
/tools/state/*.json
/tools/state/*.pid
/tools/__pycache__/
/*.exe
/*.dll
/*.dll.a
*.log
